<div class="contactformcontainer">
  <form [formGroup]="ContactForm" (ngSubmit)="onFormSubmit()">
    <h1>Schedule a chat</h1>
    <div class="mt-2">
      <label for="Name">Name</label>
      <input type="text" formControlName="Name">
    </div>
    <div class="mt-2">
      <label for="Email">Email</label>
      <input type="email" formControlName="Email">
    </div>
    <div class="mt-2">
      <label for="Phone" class="font-bold">Phone</label>
      <input type="text" formControlName="Phone">
    </div>
    <div class="mt-2">
      <label for="Message">Message</label>
        <input type="text" formControlName="Message">


      <mat-card class="demo-inline-calendar-card">
        <mat-calendar [(selected)]="date"></mat-calendar>
      </mat-card>
      <p>Selected date: Selected date: {{date | date:'fullDate'}}</p>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
