<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>Drawer content
    <mat-divider [vertical]="true"></mat-divider>

    <!-- Select Dropdown for Sorting by Category -->

      <mat-label>Sort by Category</mat-label>
      <mat-select [(ngModel)]="selectedCategory" (selectionChange)="onCategoryChange()">

        <mat-option *ngFor="let category of categories" [value]="category.id">
          {{ category.name }}
        </mat-option>
      </mat-select>


  </mat-drawer>

  <mat-drawer-content>
    <div class="product-list">
      <div class="product-card" *ngFor="let product of filteredProducts" (click)="goToProductDetails(product.id)" style="cursor: pointer;">
        <h3>{{ product.name }}</h3>
        <img src="{{ product.imageOne }}" alt="{{ product.name }}" />
        <div class="review-stars">
          <span *ngFor="let star of [1, 2, 3, 4, 5]">
            <i class="fa" [ngClass]="star <= 5 ? 'fa-star' : 'fa-star-o'"></i>
          </span>
        </div>
        <P>Category: {{product.categoryId}}</P>
        <p>{{ product.unitsInStock }} in stock</p>
        <p>Price: {{ product.price | currency }}</p>
        <button>Add to Cart</button>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
