<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
  <h3>Create New Account</h3>
  <label for="firstName">First Name:</label>
  <input id="firstName" formControlName="firstName" type="text">

  <label for="lastName">Last Name:</label>
  <input id="lastName" formControlName="lastName" type="text">

  <label for="address1">Address 1:</label>
  <input id="address1" formControlName="address1" type="text">

  <label for="address2">Address 2:</label>
  <input id="address2" formControlName="address2" type="text">

  <label for="city">City:</label>
  <input id="city" formControlName="city" type="text">

  <label for="state">State:</label>
  <input id="state" formControlName="state" type="text">

  <label for="zipcode">Zip Code:</label>
  <input id="zipcode" formControlName="zipcode" type="text">

  <label for="phone">Phone:</label>
  <input id="phone" formControlName="phone" type="text">

  <label for="email">Email:</label>
  <input id="email" formControlName="email" type="email">

  <label for="userName">Username:</label>
  <input id="userName" formControlName="userName" type="text">

  <label for="password">Password:</label>
  <input id="password" formControlName="password" type="password">

  <button type="submit">Sign Up</button>
</form>
